{% extends "base.html" %} {% block main %}
<div>
  <form action="/uploadStock" method="post">
    <table>
      <tr>
        <td>名字</td>
        <td><input type="text" name="stockName"></td>
      </tr>
      <tr>
        <td>代码</td>
        <td><input type="text" name="stockNum"></td>
      </tr>
      <tr>
        <td>时间</td>
        <td><input type="date" name="stockTime"></td>
      </tr>
      <tr>
        <td>所属板块</td>
        <td><input type="text" name="stockfield"></td>
      </tr>
      <tr>
        <td>ZT主要原因</td>
        <td><input type="text" name="ZTreason"></td>
      </tr>
      <tr>
        <td>是否ZT</td>
        <td>
          <input type="radio" value="yes" name="isZT">
          <input type="radio" value="no" name="isZT">
        </td>
      </tr>
      <tr>
        <td>涨幅</td>
        <td><input type="text" name="Zrange"></td>
      </tr>
      <tr>
        <td>
          <input type="submit" name="submit" value="提交">
        </td>
        
      </tr>
      <tr></tr>
      <tr></tr>
    </table>
  </form>
</div>
{% endblock %}