{% extends "base.html" %} {% block main %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <a href="/showStock">展示gp</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <a href="/collect">录入股票</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <a href="/setDayStock">处理当天gp</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <a href="/showDaysStock">展示一段时间gp</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}