{% extends "base.html" %} {% block main %}
<div class="container">
  {% if variable %}
  <div>{{err}}</div>
  {% endif %}
  <div class="stock-table">
    <table class="table-bordered">
      <tr>
        <td class="text-center"></td>
        {% for time in timeArr %}
            <td class="text-center">{{time}}</td>
        {% endfor %}
      </tr>
      {% for item in items %}
        <tr>
          <td class="text-center stock-name">
            <span class="stock-sp1">{{item.id}}</span>
            <span class="stock-sp2">{{item.name}}</span>
          </td>

          {% for st in item.arr%}
            <td class="text-center {% if st=='1' %} iszting {% endif %}" >{{st}}</td>  
          {% endfor %}
        </tr>
      {% endfor %}
      
    </table>
    </div>
</div>
{% endblock %}